<section class="login flex-column justify-content-start xl:justify-content-center xl:flex-row h-full">
  <img class="w-9 md:w-7 xl:w-6" [src]="'assets/img/svg/login_' + theme.getLogos() + '.svg'" alt="">
  <section class="form align-items-start xl:align-items-center w-full h-full xl:w-6">
    <section class="w-full xl:w-6 cards">
      <section class="flex justify-content-between">
        <p class="text-xl text-center">Login</p>
        <img [src]="'assets/img/logo/' + theme.getLogos() + '.svg'" alt="">
      </section>
      <form [formGroup]="form">
        <section class="inputs">
          <app-input label="Email" formControlName="email"></app-input>
          <app-input type="password" label="Senha" formControlName="password"></app-input>
        </section>
      </form>
      <p class="text-sm font-light">
        Ainda não possui cadastro?
        <a class="font-bold cursor-pointer" (click)="navigate('auth/register')" tabindex="0"
          (keydown.enter)="navigate('auth/register')">Cadastre-se!</a>
      </p>
      <section class="btn">
        <button class="add cursor-pointer theme" (click)="send()" tabindex="0" (keydown.enter)="send()">Acessar</button>
      </section>
    </section>
  </section>
</section>