@if (course && !skeleton) {
  <section class="w-full h-full">
    <div class="w-full infos gap-2" [ngStyle]="{ 'background-color': backgroundColor() }">
      <section class="i">
        <section class="flex gap-2">
          <span class="text-sm font-semibold course_tag max-w-max tag">Informações</span>
          <span class="tag ml-1 text-sm font-semibold course_tag max-w-max">{{ course.isGroup ? 'Grupo' : 'Curso'
          }}</span>
          <span class="tag ml-1 text-sm font-semibold course_tag max-w-max">{{ course.abbreviation }}</span>
          @if (course.courses) {
            <span class="tag ml-1 text-sm font-semibold course_tag max-w-max">
              {{ course.courses.length }} curso(s)
            </span>
          }
        </section>
        <span class="card_default max-w-max">
          <strong>Nome: </strong>{{ course.name }}
        </span>
        <span class="card_default max-w-max">
          <strong>Descrição: </strong>{{ course.description }}
        </span>
      </section>
      <section class="resp text-sm">
        <section class="text-center">
          <div [style.background-image]="'url(' + getUrl() + ')'" class="perfil"></div>
          <span class="text-sm font-semibold course_tag max-w-max tag">Responsável</span>
        </section>
        <span class="card_default max-w-max">{{ course.resp.name | titlecase }}</span>
        <section class="flex gap-2">
          <span class="card_default max-w-max">{{ course.resp.phone }}</span>
          <span class="card_default max-w-max">{{ course.resp.email }}</span>
        </section>
      </section>
    </div>
    @if (course.isGroup && course.courses && course.courses.length > 0) {
      <section>
        <section class="py-3 flex flex-column gap-3">
          @for (c of course.courses; track c; let i = $index) {
            <p-panel [toggleable]="true" [collapsed]="true" (onBeforeToggle)="handlePanelToggle($event, c)">
              <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                  <span class="font-bold">{{ c.name }}</span>
                  <span class="card_default text-sm max-w-max">{{ c.abbreviation }}</span>
                </div>
              </ng-template>
              <ng-template pTemplate="footer">
                <section class="text-right">
                  <span class="p-text-secondary text-left">{{ getAlunos(c).length }} aluno(s)</span>
                </section>
              </ng-template>
              <section class="flex gap-2 flex-column users_infos">
                <span><strong>Sobre: </strong>{{ c.description }}</span>
                @if (c.id && loadingAlunos.get(c.id)) {
                  <section class="card_default">
                    <app-list-skeleton [col]="cols" [qtd]="cols.length" [qtdValues]="3"></app-list-skeleton>
                  </section>
                } @else {
                  @if (getAlunos(c).length > 0) {
                    <section class="card_default">
                      <p-table [columns]="cols" [value]="getAlunos(c)" [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            @for (col of columns; track col) {
                              <th>{{ col.header }}</th>
                            }
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                          <tr>
                            @for (col of columns; track col) {
                              <td>
                                @if (col.isUser) {
                                  <span>
                                    <div [ngStyle]="{ 'background-color': rowData.color }"
                                      class="shadow-1 bg-cover bg-center bg-no-repeat border-circle"
                                      [style.background-image]="'url(' + getPicture(rowData) + ')'"
                                    style="width: 3rem; height: 3rem"></div>
                                  </span>
                                }
                                @if (!col.isUser) {
                                  <span>{{ rowData[col.field] }}</span>
                                }
                              </td>
                            }
                          </tr>
                        </ng-template>
                      </p-table>
                    </section>
                  } @else {
                    <section class="w-full flex justify-content-between">
                      <span class="text-xl font-bold k_ card_default">
                        Não há alunos vinculados a este curso no momento.
                      </span>
                      <img src="assets/img/svg/no_alunos.svg" class="h-15rem" alt="img" />
                    </section>
                  }
                }
              </section>
            </p-panel>
          }
        </section>
      </section>
    } @else {
      <section class="py-3">
        <p-panel [toggleable]="true" [collapsed]="true" (onBeforeToggle)="handlePanelToggle($event, course)">
          <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
              <span class="card_default text-sm max-w-max">Alunos</span>
            </div>
          </ng-template>
          <ng-template pTemplate="footer">
            <section class="text-right">
              <span class="p-text-secondary text-left">{{ getAlunos(course).length }} aluno(s)</span>
            </section>
          </ng-template>
          <section class="flex gap-2 flex-column users_infos">
            @if (course.id && loadingAlunos.get(course.id)) {
              <section class="card_default">
                <app-list-skeleton [col]="cols" [qtd]="cols.length" [qtdValues]="3"></app-list-skeleton>
              </section>
            } @else {
              @if (getAlunos(course).length > 0) {
                <section class="card_default">
                  <p-table [columns]="cols" [value]="getAlunos(course)" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        @for (col of columns; track col) {
                          <th>{{ col.header }}</th>
                        }
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                      <tr>
                        @for (col of columns; track col) {
                          <td>
                            @if (col.isUser) {
                              <span>
                                <div [ngStyle]="{ 'background-color': rowData.color }"
                                  class="shadow-1 bg-cover bg-center bg-no-repeat border-circle"
                                  [style.background-image]="'url(' + getPicture(rowData) + ')'"
                                style="width: 3rem; height: 3rem"></div>
                              </span>
                            }
                            @if (!col.isUser) {
                              <span>{{ rowData[col.field] }}</span>
                            }
                          </td>
                        }
                      </tr>
                    </ng-template>
                  </p-table>
                </section>
              } @else {
                <section class="w-full flex justify-content-between">
                  <span class="text-xl k_ font-bold card_default">Não há alunos vinculados a este curso no momento.</span>
                  <img src="assets/img/svg/no_alunos.svg" class="h-15rem" alt="img" />
                </section>
              }
            }
          </section>
        </p-panel>
      </section>
    }
  </section>
}
@if (!course && !skeleton) {
  <section class="w-full">
    <app-error img="404" title="Curso não encontrada."
      sub="Se o problema persistir, entre em contato com a administração." />
    </section>
  }
  @if (skeleton) {
    <section class="w-full flex flex-column gap-3 p-3">
      <section class="infos card_default">
        <section>
          @for (i of [].constructor(3); track i) {
            <p-skeleton height="4rem" />
          }
        </section>
      </section>
      @for (i of [].constructor(3); track i) {
        <p-skeleton height="4rem" />
      }
    </section>
  }