<section class="w-full h-full msg_list">
  <p-tabView class="p-0" (activeIndexChange)="onTabChange($event)">
    <p-tabPanel header="Todas">
      <!-- <app-message-list *ngIf="selectedIndex === 0" flag="all" /> -->
      <app-messages-list *ngIf="selectedIndex === 0" flag="all" />
    </p-tabPanel>
    <!-- <p-tabPanel header="Enviadas">
      <app-message-list *ngIf="selectedIndex === 1" flag="ENVIADO" />
    </p-tabPanel>
    <p-tabPanel header="Não enviadas">
      <app-message-list *ngIf="selectedIndex === 2" flag="NAO_ENVIADO" />
    </p-tabPanel>
    <p-tabPanel header="Removidas">
      <app-message-list *ngIf="selectedIndex === 3" flag="REMOVIDA" />
    </p-tabPanel> -->
  </p-tabView>
</section>