<section class="w-full h-full config-courses flex flex-column gap-2">
  <section class="w-full flex p-1 justify-content-end align-content-center">
    <button aria-label="adicionar curso" class="add default" (click)="newCourse()">
      <i class="text-xl font-semibold bi bi-plus"></i>
      Novo
    </button>
  </section>
  <section class="w-full" *ngIf="!loading">
    <p-table [value]="courses" dataKey="name">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          @for (th of cols; track $index) {
          <th>
            {{th.header}}
          </th>
          }
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-list let-expanded="expanded">
        <tr>
          <td>
            <button aria-label="expandir lista de subcursos" class="cursor-pointer theme"
              [disabled]="list.isGroup && list.courses?.length <= 0">
              <i [hidden]="list.courses?.length <= 0" class="bi" [pRowToggler]="list"
                [ngClass]="expanded ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
            </button>
          </td>
          @for (td of cols; track $index) {
          <td>
            <!-- Exibir valor simples, exceto para qtdCursos e imagens -->
            <ng-container *ngIf="!td.isAction && !td.isImg">
              <span *ngIf="td.field !== 'qtdCursos'"
                [ngClass]="{'tag': td.isTag, 'bolTrue': td.isBoolean && list[td.field], 'bolFalse': td.isBoolean && !list[td.field]}">
                {{ list[td.field] }}
              </span>

              <!-- Exibir contagem de cursos se for grupo -->
              <span *ngIf="td.field === 'qtdCursos' && list.isGroup"
                [ngClass]="{'tag': td.isTag, 'bolTrue': td.isBoolean && list[td.field], 'bolFalse': td.isBoolean && !list[td.field]}">
                {{ list.courses ? list.courses.length : 0 }}
              </span>
            </ng-container>

            <!-- Exibir imagem e nome se for uma imagem e tiver responsavel -->
            <span *ngIf="td.isImg && list.resp" class="flex gap-2 align-items-center">
              <div class="shadow-1 bg-cover bg-center bg-no-repeat border-circle"
                [style.background-image]="'url(' + list.resp.profilePhoto + ')'" style="width: 2.5rem; height:2.5rem">
              </div>
              <p class="m-0 font-semibold">{{ list.resp.name }}</p>
            </span>
          </td>

          }
          <td class="w-1">
            <section class="flex gap-1">
              <button aria-label="alterar curso" class="add edit default" (click)="newCourse(list)">
                <i class="text-base font-semibold bi bi-pencil"></i>
              </button>
              <button aria-label="excluir curso" class="add del default" (click)="newCourse()">
                <i class="text-base font-semibold bi bi-trash"></i>
              </button>
            </section>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-list>
        <tr>
          <td colspan="7">
            <div class="card_default">
              <p-table [value]="list.courses">
                <ng-template pTemplate="header">
        <tr>
          @for (th of colsSub; track $index) {
          <th>
            {{th.header}}
          </th>
          }
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-list>
        <tr>
          @for (td of colsSub; track $index) {
          <td>
            <span [ngClass]="{'tag' : td.isTag, 'bolFalse': td.isBoolean }">
              {{list[td.field]}}
            </span>
          </td>
          }
          <td class="w-1">
            <section class="flex gap-1">
              <button aria-label="editar curso" class="add edit default" (click)="newCourse(list)">
                <i class="text-base font-semibold bi bi-pencil"></i>
              </button>
              <button aria-label="excluir curso" class="add del default" (click)="newCourse()">
                <i class="text-base font-semibold bi bi-trash"></i>
              </button>
            </section>
          </td>
        </tr>
      </ng-template>
    </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
  </section>
  <section *ngIf="loading" class="flex w-full justify-content-between align-content-center">
    <p class="font-bold text-6xl">Loading...</p>
  </section>
</section>