<p-scrollPanel [style]="{ width: '100%', height: 'calc(100dvh - 4rem)' }">
  <section class="w-full h-auto">
    <section class="w-full py-2 flex justify-content-between">
      <span class="font-light cursor-pointer">
        <i class=" bi pr-1 bi-arrow-left"></i>
        voltar
      </span>
      <section class="flex gap-4">
        <button class="basic theme">
          <i class="bi pr-1 bi-floppy"></i>
          salvar
        </button>
        <button class="success theme">
          enviar
          <i class="bi pl-1 bi-send"></i>
        </button>
      </section>
    </section>
    <form [formGroup]="form">
      <section class="w-full flex flex-column gap-3">
        <app-input [control]="getControl('title')" type="text" label="Titulo" placeholder="Digite o titulo..."
          formControlName="title"></app-input>
        <app-input [control]="getControl('summary')" type="text" label="Resumo"
          placeholder="Digite aqui o resumo(conteúdo que ira aparecer na notificação do aplicativo)"
          formControlName="summary"></app-input>
        <div class="flex flex-column gap-2">
          <label for="description">Descrição</label>
          <p-editor id="description" formControlName="message" [style]="{ height: '320px' }"
            [modules]="editorModules" />
        </div>
      </section>
    </form>
  </section>
</p-scrollPanel>