<section class="w-full h-auto py-1">
  @if (msg) {
  <p-tabView (activeIndexChange)="onTabChange($event)">
    <p-tabPanel header="Mensagem">
      <section class="flex flex-column gap-3 h-auto py-2">
        <section class="flex justify-content-between">
          <p class="m-0 card_default"><strong>Cursos:</strong> {{getCourse()}}</p>
          <p *ngIf="msg.sendDate" class="m-0 card_default">
            <strong>Envio:</strong> {{ msg.sendDate | date:'EEEE, dd/MM/yyyy - HH:mm' }}
          </p>
        </section>
        <p class="m-0 card_default"><strong>Titulo:</strong> {{msg.title}}</p>
        <p class="m-0 card_default"><strong>Resumo:</strong> {{msg.summary}}</p>
        <section class="card_default"><strong>Mensagem:</strong>
          <section class="px-2">
            <div [innerHTML]="msg.message"></div>
          </section>
        </section>

        <section *ngIf="msg.links.length > 0 || msg.attachments.length > 0"
          class="flex gap-3 h-auto flex-column card_default lg:flex-row">
          @if (msg.links.length > 0) {
          <section class="w-full lg:w-6">
            <p class="m-0 font-bold py-2">Links</p>
            <section class="w-full py-1 flex flex-column flex-wrap gap-3">
              @for (link of msg.links; track $index) {
              <section class="flex h-5rem p-3 justify-content-between w-full card_custom">
                <p class="m-0 font-bold">{{link.title}}</p>
                <button (click)="openModal(link.link, '30%', 'link')" class="link view">
                  <i class="bi bi-eye"></i>
                </button>
              </section>
              }
            </section>
          </section>
          }
          @if (msg.attachments.length > 0) {
          <section class="w-full lg:w-6">
            <p class="m-0 font-bold py-2">Anexos</p>
            <section class="w-full py-1 flex flex-column flex-wrap gap-3">
              @for (file of msg.attachments; track $index) {
              <section class="flex h-5rem py-3 justify-content-between w-full card_custom">
                <p class="m-0 font-bold">{{file.name}}</p>
                <button (click)="viewAnexo(file)" class="link view">
                  <i class="bi bi-eye"></i>
                </button>
              </section>
              }
            </section>
          </section>
          }
        </section>

      </section>
    </p-tabPanel>
    <p-tabPanel header="Visualizações">
      <section class="w-full flex flex-column gap-2">
        <section class="flex justify-content-end">
          <span class="tag">
            Visualizações:
            <strong class="px-1">{{msg.vlrViews}}</strong>
          </span>
        </section>
        @if(views.length > 0){
        <app-list-views [views]="views" />
        }@else {
        <section class="w-full">
          ainda não teve Visualizações;
        </section>
        }
      </section>
    </p-tabPanel>
  </p-tabView>
  }@else {
  <section class="w-full">
    <p>Erro ao carregar a mensagem</p>
  </section>
  }
</section>