@import 'primeflex/primeflex.scss';
@import 'assets/styles/_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@mixin color-scheme($bg, $secundary, $primary, $text_secundary, $text) {
  background-color: $bg;
  color: $text;

  button {
    all: unset;
    cursor: pointer;
  }

  button.default {
    background: $secundary;
    color: $text_secundary;
  }

  .auth {
    .p-divider .p-divider-content {
      background-color: $bg;
    }
  }
}

.dark {
  @include color-scheme($dark_background, $dark_tertiary, $dark_secondary, $dark_primary, #fff);
}

.light {
  @include color-scheme(#fafafa, $light_btn, $light_secondary, $light_primary, #000);
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}