// dark-theme.scss
$dark_primary: #BDD8F1;
$dark_secondary: #82A6CB;
$dark_tertiary: #3667A6;
$dark_background: #041C32;

// light-theme.scss
$light_primary: #F7FBFC;
$light_secondary: #D6E6F2;
$light_tertiary: #B9D7EA;
$light_btn: #214177;
$light_background: #769FCD;
$light_yellow: #FFC700;

$border_radius: 5px;