<div *ngIf="cols" class="h-full w-full card_default">
  <p-table [columns]="cols" [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" let-columns>
      <tr>
        @for (col of columns; track $index) {
        <th>
          {{ col.header }}
        </th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td *ngFor="let j of [].constructor(qtd ?? 5)"><p-skeleton /></td>
        <td class="w-1">
          <p-skeleton height="1.75rem" width="3.5rem" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>